body {
    background-image: url('../imgs/Sfondo.png');
    background-size: 200px;
}

.col {
    width: 45vw;
}

.container {
    display: flex;
    justify-content: space-between;
}

form {
    background-color: #FFFF;
    border: 1px solid gray;
    padding: 2vh;
    border-radius: 10px;
}